@tailwind base;
@tailwind components;
@tailwind utilities;

/* Salesforce-like Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f2f2;
}
::-webkit-scrollbar-thumb {
  background: #b0adab;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0176d3;
}

body {
  background-color: #f3f2f2;
}
